@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.app_wrapper {
  background-color: #1e3e62;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  max-height: 844px;
  width: 100vw;
  max-width: 1300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.pageContent {
  overflow-y: auto;
  height: 100%;
}

@media (min-width: 768px) {
  .pageContent {
    overflow-y: auto;
    padding-left: 300px;
    box-sizing: border-box;
  }
}
