.createTodoContainer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todoForm {
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}
.todoFormGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.todoFormGroup label {
  font-weight: bold;
  color: white;
}
.todoInput {
  margin-bottom: 25px;
}
.todoFormGroup input,
.todoFormGroup textarea,
.createTodoBtn {
  width: 100%;
  max-width: 100%;
  border: 2px solid #174031;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
}
.datepicker {
  cursor: pointer;
}
.createTodoBtn {
  background-color: #ff6500;
  color: #fff;
  font-size: 24px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.errorText {
  color: red;
  font-size: 15px;
  position: absolute;
  top: -25px;
}

.todos_container {
  padding: 20px;
}

.todoList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todoBox {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
}

.checkbox::after {
  content: "✔";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}
.checkbox:checked {
  background: green;
}

.checkbox:checked::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.todoContent {
  flex-grow: 1;
}

.todos_container h2 {
  color: white;
}
.pagination {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.paginationButton.activePage {
  background-color: #ff6500;
}

.todo_info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.edit_button {
  width: 75px;
  padding: 5px 0;
  border: 2px solid #ff6500;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #ff6500;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .todoForm {
    gap: 5px;
  }
}
