
.createTodoContainer {
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todoForm {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    color: white;
}
.todoFormGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
}
.todoFormGroup label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
.todoFormGroup input, 
.todoFormGroup textarea, 
.createTodoBtn {
    width: 100%;
    max-width: 100%;
    border: 2px solid #174031;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
}
.todoFormGroup textarea {
  height: 100px;
}

.createTodoBtn {
  background-color: #FF6500;
  color: #fff;
  font-size: 24px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  margin: 30px auto;
  text-decoration: none;
  height: 55px;
  text-align: center;
  cursor: pointer;
}
.errorText {
    color: red;
    font-size: 15px;
    position: absolute;
    top: -25px; 
  }
  .groupButton {
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    padding: 6px;
    margin: 5px 5px 0 0;
    color: black;
  }
  .groupSelection {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

  .activeGroup {
    background-color: black;
    color: white;
  }

  .today_container,
  .singleGroupContainer {
    padding: 20px;
    border-radius: 8px;
  }
  
  .todoList {
    list-style-type: none;
    padding: 0;
  }
  
  .todoItem {
    margin-top: 15px;
  }
  
  .todoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .expanded .todoBox {
    border-radius: 5px 5px 0 0;
  }
  
  .checkbox {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .todoContent {
    flex-grow: 1;
  }
  
  .toggleIcon {
    font-size: 18px;
  }
  .todoDetails {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    word-wrap: break-word;
  }
  .today_container h2 {
    color: white;
  }
  .pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .paginationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  .paginationButton.activePage {
    background-color: #FF6500;
  }

  input:focus, 
  textarea:focus {
    outline: none;
  }